# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~
    database_path:     "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    # Directory to download to
    download_directory: ~

    # engine used by casperjs
    scanner_engine:    phantomjs

    # Cookie file
    cookies:           ~

    # config for some scanners
    scanners:
      deviantart:
        user: ~
        password: ~
      furaffinity:
        user: ~
        password: ~
      weasyl:
        user: ~
        password: ~
      inkbunny:
        user: ~
        password: ~
      wordpress:
        domains: []
