/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import "compass/reset";
@import "compass/css3/border-radius";
@import "compass/css3/transform";
@import "compass/utilities/color/contrast";

$color-background: #999;
$color-block-background: #eee;
$color-block-text: contrast-color($color-block-background);
$color-rows-odd: #bbb;
$color-rows-even: #eee;
$border-radius: 10px;

@mixin notification($icon, $color) {
  background-color: lighten($color, 20%);
  border-color: $color;
  color: darken($color, 20%);
  &:before {
    color: darken($color, 20%);
    content: $icon;
  }
}

body {
  padding: 0 25px;
  background-color: $color-background;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  a {
    color: inherit;
    &.fa {
      text-decoration: none;
      &:before, &:after {
        text-decoration: none;
      }
    }
  }
  header {
    background-color: $color-block-background;
    color: $color-block-text;
    padding: 10px;
    @include border-bottom-left-radius($border-radius);
    @include border-bottom-right-radius($border-radius);
    div.stats {
      display: flex;
      float: right;
      span {
        &:not(:last-child):after {
          content: '|';
          padding: 0.25rem;
        }
      }
    }
  }
  main {
    margin: 25px 0;
    flex-grow: 2;
    @include border-radius($border-radius);
    background-color: darken($color-background, 10%);
    overflow: hidden;
    &.notification {
      border-width: 4px;
      border-style: solid;
      position: relative;
      padding: 5rem 1rem;
      font-size: 2rem;
      text-align: center;
      code {
        font-size: 1rem;
        font-family: monospace;
      }
      &:before {
        width: 5rem;
        position: absolute;
        top: 50%;
        text-align: center;
        left: 0;
        @include translateY(-50%);
        font-family: FontAwesome;
        font-size: 4.5rem;
      }
      &.error {
        @include notification('\f06a', red);
      }
      &.info {
        @include notification('\f05a', blue);
      }
    }
    table {
      width: 100%;
      tr {
        &.odd {
          background-color: $color-rows-odd;
          &.downloaded {
            background-color: mix($color-rows-odd, green, 70%);
          }
          &.failed {
            background-color: mix($color-rows-odd, red, 70%);
          }
        }
        &.even {
          background-color: $color-rows-even;
          &.downloaded {
            background-color: mix($color-rows-even, green, 70%);
          }
          &.failed {
            background-color: mix($color-rows-even, red, 70%);
          }
        }
        td {
          padding: 5px;
          &.icon, &.action {
            font-size: 3rem;
            text-align: center;
            width: 4rem;
          }
        }
      }
    }
  }
  footer {
    background-color: $color-block-background;
    color: $color-block-text;
    padding: 10px;
    @include border-top-left-radius($border-radius);
    @include border-top-right-radius($border-radius);
  }
}
